#if($bibliography)
<h3>Bibliography</h3>
<ul>
    #foreach($bibref in $bibliography)
        <li>
            <a href="$bibref.url">$bibref.title</a> #if($bibref.author)by $bibref.author #end
            #if($bibref.year)($bibref.year)#end#if($bibref.publication). In: $bibref.publication#end#if($bibref.page), page $bibref.page#end
        </li>
    #end
</ul>
#end
