#parse("layout.vm")
#@layout($title)
<h1>$title</h1>
#if($full_title)
Full title: $full_title<br/>
#end
#if($author)
#if($author_url)
Author: <a href="$author_url">$author</a><br/>
#else
Author: $author
#end
#end
Year of publication: $year<br/>
Specimens:
<ul>
#foreach($specimen in $specimens)
    <li>$specimen.second.description &ndash; <a href="/$specimen.first.outPath">$specimen.first.language</a></li>
#end
</ul>
#end
