#parse("layout.vm")
#@layout("Books")
<h1>Books with Paternoster Attestations</h1>
#foreach($bookType in $books)
<h2>$bookType.name</h2>
#foreach($book in $bookType.books)
    <p>
#if($book.authors)
    #foreach($author in $book.authors)
        $author.name#if($foreach.hasNext), #end
    #end &ndash;
#elseif($book.author)
    $book.author &ndash;
#end
    #if($book.full_title)
    <a href="/$book.outPath">$book.full_title</a>
    #else
    <a href="/$book.outPath">$book.title</a>
    #end
    ($book.year): $book.texts.size() text#if($book.texts.size() != 1)s#end
    #if($book.in_progress) (in progress)#end
    </p>
#end
#end
#end
