#parse("layout.vm")
#@layout($title)
<h1>$fullTitleSnippet</h1>
#if($full_title && $full_title != $fullTitleSnippet)
Full title:
    #if($url)
        <a href="$url">$full_title</a>
    #else
        $full_title
    #end
<br/>
#end
#if($url && (!$full_title || $full_title == $fullTitleSnippet))
    <a href="$url">Full text</a><br/>
#end
#if($authors)
    Authors:
    #foreach($author in $authors)
        <a href="$author.url">$author.name</a>#if($foreach.hasNext), #end
    #end
    <br/>
#elseif($author)
#if($author_url)
Author: <a href="$author_url">$author</a><br/>
#else
Author: $author<br/>
#end
#end
Year of publication: $year<br/>

#if($image)
    <img src="/images/$image"/>
#end

<h3>Specimens</h3>
<ul>
#foreach($specimen in $specimens)
#set($att = $specimen.second)
    <li>
#if($specimen.second.description)
    $specimen.second.description &ndash;
#end
        <a href="/$specimen.first.outPath">$specimen.first.language</a>
        #if($att.page)(p. $att.page#if($att.recto)$att.recto#end#if($specimen.second.number) n. $specimen.second.number#end)#end
        #if($att.number && !$att.page)(n. $att.number)#end
        : $specimen.first.snippet...
    </li>
#end
</ul>

#parse("bibliography.vm")
#end
