#parse("layout.vm")
#macro(renderFamily $family)
#if($family.name)
<li>$family.name</li>
#end

<ul>
#foreach($subFamily in $family.subFamilies)
#renderFamily($subFamily)
#end
#foreach($language in $family.languages)
    <li>
#if($language.outPath)
    <a href="/$language.outPath">$language.name</a>
#else
    $language.name &ndash;
    #foreach($specimen in $language.specimens)
        <a href="$specimen.outPath">$specimen.snippet</a>
        #if(!$foreach.last), #end
    #end
#end
#if($language.url)
    (<a href="$language.url">Wikipedia</a>)
#end
    </li>
#end
</ul>
#end

#@layout("Languages")
    <h1>Languages with Paternoster Attestations</h1>
    #renderFamily($rootFamily)
#end
