#parse("layout.vm")
#@layout($name)
<h1>Pater Noster Attestations in $name</h1>
    #foreach($specimen in $specimens)
        <a href="/$specimen.outPath">$specimen.snippet...</a> (<a href="/$specimen.earliestAttestation.book.outPath">$specimen.earliestAttestation.book.title</a>)
        <br/>
    #end
#end
