#macro(layout $title)
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Serif">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
    <link rel="stylesheet" href="/paternoster.css"/>
#if($title)
    <title>Historical Paternoster Database: $title</title>
#else
    <title>Historical Paternoster Database</title>
#end
</head>
<body>
    <div class="main">
        <div class="navigation">
            <h3 class="self-link"><a href="/">Paternosters</a></h3>
            <p>
            <a href="/books.html">Books</a><br/>
            <a href="/languages.html">Languages</a><br/>
            <a href="/search.html">Search</a><p>
            Languages: $totalLanguages<br/>
            Texts: $totalSpecimens<br/>
            Attestations:&nbsp;$totalAttestations
        </div>
        <div class="content">
            $!bodyContent
        </div>
    </div>
    <div class="footer">
        Maintained by <a href="https://github.com/yole">Dmitry Jemerov</a>.
        Last updated: $date.medium_date.
        Hosted on <a href="https://github.com/yole/historical-paternosters">GitHub</a>.
        Additions, corrections? Issues and PRs are welcome.
    </div>
</body>
#end
