#parse("layout.vm")
#@layout($language)
<h1>Pater Noster in $language</h1>
#if($lang)
    <p>
        Language:
        #if($lang.url)
            <a href="$lang.url">$lang.name</a>
        #else
            $lang.name
        #end
        #if($script)
            ($script script)
        #end
    </p>
#end
#if($glossed_text)
    #foreach($line in $glossed_text)
    <table>
    <tr>
        #foreach($word in $line.words)
        <td>$word.original</td>
        #end
    </tr>
    <tr class="glosses">
        #foreach($word in $line.words)
            <td>$word.gloss</td>
        #end
    </tr>
    </table>
    #end
#else
    $text
#end

#if($footnotes)
    <h3>Footnotes</h3>
    #foreach($note in $footnotes.entrySet())
        $note.key: $note.value<br/>
    #end
#end
    #if($baseSpecimen)
    <p>
        Based on <a href="/$baseSpecimen.outPath">${baseSpecimen.attestations[0].book.title}</a>
    #end
<h3>Attested In</h3>
<ul>
    #foreach($attestation in $attestations)
        <li><a href="/$attestation.book.outPath">$attestation.book.title</a>
            #if($attestation.page)
                p. $attestation.page
            #end
            #if($attestation.number)
                n. $attestation.number
            #end
            #if($attestation.description)
                <i>($attestation.description)</i>
            #end
            #if($attestation.source)
                &ndash; $attestation.source
            #end
            #if($attestation.text_variant)
                <details>
                    <summary>Text</summary>
                    $attestation.text_variant
                </details>
            #end
        </li>
    #end
</ul>
#if($notes)
    <h3>Notes</h3>
    $notes
#end
#parse("bibliography.vm")
#end
