#parse("layout.vm")
#@layout($language)
<h1>Pater Noster in $language</h1>
#if($lang)
    <p>
        Language: <a href="$lang.url">$lang.name</a>
    </p>
#end
    $text
#if($footnotes)
    <h3>Footnotes</h3>
    #foreach($note in $footnotes.entrySet())
        $note.key: $note.value<br/>
    #end
#end
    #if($baseSpecimen)
    <p>
        Based on <a href="/$baseSpecimen.outPath">${baseSpecimen.attestations[0].book.title}</a>
    #end
<h3>Attested in:</h3>
<ul>
    #foreach($attestation in $attestations)
        <li><a href="/$attestation.book.outPath">$attestation.book.title</a>
            #if($attestation.page)
                p. $attestation.page
            #end
            #if($attestation.number)
                n. $attestation.number
            #end
            <i>($attestation.description)</i>
#if($attestation.source)
    - $attestation.source
#end
        </li>
    #end
</ul>
#if($notes)
    <h3>Notes</h3>
    $notes
#end
#if($bibliography)
    <h3>Bibliography</h3>
    <ul>
        #foreach($bibref in $bibliography)
        <li>
            <a href="$bibref.url">$bibref.title</a> by $bibref.author ($bibref.year)
        </li>
        #end
    </ul>
#end
#end
